<!-- ko with: home -->
<div class="jumbotron">
    <h1>Client Web Application</h1>
    <p class="lead">This Web is about Travel Recomendation</p>
    <abbr>I use ajax with Jquery</abbr>
</div>
<div class="row">
    <div class="col-xs-6">
        <h3>Top 10 Famous Places</h3>
        <ul id="listPlaces">            
        </ul>
    </div>
</div>

<!-- /ko -->
